html, body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "New Amsterdam", system-ui;
  color: black;
  font-size: 25px;
}

input[type="checkbox"]{
  transform: scale(2);
  margin-right: 30px;
}

input[type="text"]{
  font-size: 30px;
  width: 230px;
  border-radius: 200px;
  border: solid 4px yellow;
}

.hidden{
  display: none;
}

.botao{
  background-color: yellow;
  font-family: "New Amsterdam", system-ui;
  color: black;
  border: 2px solid yellow;
  border-radius: 200px;
  font-size: 25px;
}

.botao:hover{
  background-color: orange;
  border: solid 2px orange;
}